/* import font from google. Needs to be the first line of css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* custom styles */

.shadow-textarea textarea.form-control::placeholder {
	font-weight: 300;
}
.shadow-textarea textarea.form-control {
	padding-left: 0.8rem;
}

textarea {
	shape-margin: 30px;
	background-color: #f0f0f0;
	max-width: 70%;
	align-self: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

html,body,.container {
    height:100%;
    font-family: Ubuntu, sans-serif;
}
.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

h3 {
	color: #333333;
}

.outer {
	background-color: rgba(90, 121, 205, 0.3);
}

.middle {
	background-color: rgba(255, 98, 0, 0.5);
}
