{% extends "bootstrap/base.html" %}
{% block title %}Another Slice of Security{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm-2 outer no-float"></div>
    <div class="col-sm-8 middle no-float">
      <div class="page-header text-center">
        <h3>CyberSecurity Pizza Poll</h3>
      </div>
      <h5>{{ message }}</h5>
    </div>
    <div class="col-sm-2 outer no-float"></div>
  </div>
</div>

{% endblock %}
