<!DOCTYPE html>
<html>
<head>
	<title>CS-Vote-App</title>
</head>
<body>

<h4>Line security & crypto (KPN)</h4>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="topic1" id="t1radio1" value="1">
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="topic1" id="t1radio2" value="2">
  <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="topic1" id="t1radio3" value="3">
  <label class="form-check-label" for="inlineRadio1">3</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="topic1" id="t1radio4" value="4">
  <label class="form-check-label" for="inlineRadio2">4</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="topic1" id="t1radio5" value="5">
  <label class="form-check-label" for="inlineRadio1">5</label>
</div>

</body>
</html>